<div class="main=page">
  <app-app-loader [isLoading]="isLoading"></app-app-loader>
  <div class="filter-container">
    <input
      type="text"
      [(ngModel)]="filterByUserName"
      class="filter-input"
      (input)="applyFilters()"
      placeholder="Filter By UserName"
    />
    <input
      type="text"
      [(ngModel)]="filterByName"
      class="filter-input"
      (input)="applyFilters()"
      placeholder="Filter By Name"
    />
    <input
      type="text"
      [(ngModel)]="filterByLogin"
      class="filter-input"
      (input)="applyFilters()"
      placeholder="Filter By Login"
    />
  </div>

  <ag-grid-angular
    style="width: 99vw; height: 75vh"
    class="ag-theme-alpine"
    [rowData]="githubUsers"
    [columnDefs]="columnDefs"
  >
  </ag-grid-angular>

  <div class="pagination">
    <button (click)="goToPreviousPage()" [disabled]="currentPage === 1">
      Previous
    </button>
    <a
      href="#"
      [ngClass]="currentPage === page ? 'active' : ''"
      (click)="goToPage(page)"
      *ngFor="let page of displayPageRange"
      >{{ page }}</a
    >
    <button (click)="goToNextPage()" [disabled]="currentPage === totalPages">
      Next
    </button>
  </div>
</div>
