<div class="main=page">
    <div class="filter-container">
        <input type="text" [(ngModel)]="filter1" class="filter-input" (input)="applyFilters()" placeholder="Filter 1">
        <input type="text" [(ngModel)]="filter2" class="filter-input" (input)="applyFilters()" placeholder="Filter 2">
        <input type="text" [(ngModel)]="filter3" class="filter-input" (input)="applyFilters()" placeholder="Filter 3">
      </div>
      
    
    <ag-grid-angular 
        style="width: 99vw; height: 100vh;" 
        class="ag-theme-alpine"
        [rowData]="githubUsers" 
        [columnDefs]="columnDefs">
    </ag-grid-angular>
</div>
